<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="statementMapper">

	<resultMap property="statement" id="statementSelectMap">
	
		<result property="statementNo" column="statement_no" jdbcType="VARCHAR"/>
		<result property="tradeTargetName" column="trade_target_name" jdbcType="VARCHAR"/>
		<result property="tradeDate" column="trade_date" jdbcType="VARCHAR"/>
		<result property="accountNo" column="account_no" jdbcType="VARCHAR"/>
		<result property="tradeAmount" column="trade_amount" jdbcType="VARCHAR"/>
		<result property="statementCategoryCodeNo" column="statement_category_code_no" jdbcType="VARCHAR"/>
		<result property="statementCategoryCodeName" column="statement_category_code_name" jdbcType="VARCHAR"/>
		<result property="statementUsageStatusCodeNo" column="statement_usage_status_code_no" jdbcType="VARCHAR"/>
		<result property="statementUsageStatusCodeName" column="statement_usage_status_code_name" jdbcType="VARCHAR"/>
		<result property="statementDetail" column="statement_detail" jdbcType="VARCHAR"/>
		
	</resultMap>
</mapper>